* {
     margin: 0;
     padding: 0;
}

.button {
     width: 50px;
     height: 50px;
     font-size: 25px;
     margin: 2px;
     cursor: pointer;
     background-color: #555555;
     border: none;
     color: #DCF5FA;
     border-radius: 9px;
}

.button:hover {
     background-color: #696969;
}

.textview {
     width: 203.5px;
     margin: 5px;
     padding: 5px;
     font-size: 25px;
     border: 2px solid #555555;
     color: #555555;
     border-radius: 9px;
}

.main {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
}